In [1]:
import gmaps
import json
import requests
import pandas as pd
import numpy as np
from citipy import citipy
import matplotlib.pyplot as plt
from scipy import stats
from config import api_key
from citipy import citipy

In [142]:
abnb_data = pd.read_csv("Resources/airbnb_data.csv")

/Users/alfonsocamero/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [188]:
abnb2 = abnb_data.drop(['neighbourhood_group', 'id', 'host_id', 'host_name', 'calculated_host_listings_count', 'last_review'], axis=1)
abnb2_df = abnb2.drop(abnb2[abnb2['room_type'] == 'Private room'].index)
abnb2_df['city'] = abnb2_df['city'].replace({'Broward County':'Fort Lauderdale','Clark County':'Las Vegas','New York City':'New York','San Clara Country':'San Jose','San Mateo County':'San Mateo','Santa Cruz County':'Santa Cruz','Twin Cities MSA':'Twin Cities','Washington D.C.':'Washington'})
abnb_df = abnb2_df.drop(abnb2_df[(abnb2_df['city'] == 'Hawaii') | (abnb2_df['city'] == 'Rhode Island') | (abnb2_df['city'] == 'Twin Cities')].index)

abnb_df = abnb_df[['city', 'name', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 'minimum_nights', 'number_of_reviews', 'reviews_per_month', 'availability_365']]
abnb_df.rename(columns={'city': 'City', 'name': 'Property Name', 'neighbourhood': 'Neighborhood', 'latitude': 'Latitude', 'longitude': 'Longitude', 'room_type': 'Room Type', 'price': 'Price', 'minimum_nights': 'Minimum Nights', 'number_of_reviews': 'Number of Reviews', 'reviews_per_month': 'Reviews per Month', 'availability_365': 'Availability (days per year)'}, inplace=True)

abnb_df

,City,Property Name,Neighborhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Number of Reviews,Reviews per Month,Availability (days per year)
1,Asheville,French Chic Loft,28801,35.597790,-82.555400,Entire home/apt,470,1,114,1.03,288
2,Asheville,Walk to stores/parks/downtown. Fenced yard/Pet...,28801,35.606700,-82.555630,Entire home/apt,75,30,89,0.81,298
3,Asheville,Cottage! BonPaul + Sharky's Hostel,28806,35.578640,-82.595780,Entire home/apt,90,1,267,2.39,0
5,Asheville,Terrace Cottage,28804,35.618560,-82.552760,Entire home/apt,134,7,54,0.49,294
8,Asheville,"Private, peaceful, and free goat therapy",28805,35.619290,-82.481140,Entire home/apt,71,28,537,5.01,207
...,...,...,...,...,...,...,...,...,...,...,...
226025,Washington,"DC Hidden In Plain ""Site""","Downtown, Chinatown, Penn Quarters, Mount Vern...",38.903880,-77.029730,Entire home/apt,104,1,0,NaN,99
226026,Washington,DC 3 BR w/ screen porch 3 blck to metro w/ par...,"Brookland, Brentwood, Langdon",38.920820,-76.990980,Entire home/apt,151,2,0,NaN,300
226027,Washington,Charming Penthouse Apt w/ Rooftop Terrace in L...,"Shaw, Logan Circle",38.911170,-77.033540,Entire home/apt,240,2,0,NaN,173
226028,Washington,Adams Morgan/Nat'l Zoo 1 BR Apt #32,"Kalorama Heights, Adams Morgan, Lanier Heights",38.926630,-77.044360,Entire home/apt,60,21,0,NaN,362
226029,Washington,Beautiful large one-bedroom w/ washer and dryer,"Edgewood, Bloomingdale, Truxton Circle, Eckington",38.911569,-77.009431,Entire home/apt,79,7,0,NaN,62

In [178]:
Cities = []
for city in abnb_df['City']:
    if city not in Cities:
        Cities.append(city)

In [179]:
cities = [city.lower() for city in Cities]

In [180]:
states = ['NC', 'TX', 'MA', 'FL', 'MA', 'IL', 'NV', 'OH', 'CO', 'NJ', 'CA', 'TN', 'LA', 'NY', 'CA', 'CA', 'OR', 'OR', 'CA', 'CA', 'CA', 'CA', 'CA', 'WA', 'DC']

In [181]:
loop_df = pd.DataFrame({
    'city': cities,
    'City': Cities,
    'State': states
})

loop_df['Population'] = ''

loop_df

               city             City State Population
0         asheville        Asheville    NC
1            austin           Austin    TX
2            boston           Boston    MA
3   fort lauderdale  Fort Lauderdale    FL
4         cambridge        Cambridge    MA
5           chicago          Chicago    IL
6         las vegas        Las Vegas    NV
7          columbus         Columbus    OH
8            denver           Denver    CO
9       jersey city      Jersey City    NJ
10      los angeles      Los Angeles    CA
11        nashville        Nashville    TN
12      new orleans      New Orleans    LA
13         new york         New York    NY
14          oakland          Oakland    CA
15    pacific grove    Pacific Grove    CA
16         portland         Portland    OR
17            salem            Salem    OR
18         san jose         San Jose    CA
19        san diego        San Diego    CA
20    san francisco    San Francisco    CA
21        san mateo        San Mateo    CA
22       santa cruz       Santa Cruz    CA
23          seattle          Seattle    WA
24       washington       Washington    DC

In [182]:
for index, row in loop_df.iterrows():
    city = row["city"]
    City = row["City"]
    state = row["State"]
    url = f'http://public.opendatasoft.com/api/records/1.0/search/?dataset=cities-and-towns-of-the-united-states%40public&q={city}&facet=name&facet=state&refine.name={City}&refine.state={state}'
    response = requests.get(url).json()
    print(f"Searching population record for {city}")
    
    try:
        loop_df.loc[index, "Population"] = response['records'][0]['fields']['pop_2010']
    
        print(f"{city}'s population: {response['records'][0]['fields']['pop_2010']}")
    
        print('________________________________________________')
    
    except (KeyError, IndexError):
        print(f"Population for {city} not found... Continue scanning.")
        
        print('________________________________________________')

Searching population record for asheville
asheville's population: 83393
________________________________________________
Searching population record for austin
austin's population: 790390
________________________________________________
Searching population record for boston
boston's population: 617594
________________________________________________
Searching population record for fort lauderdale
fort lauderdale's population: 165521
________________________________________________
Searching population record for cambridge
cambridge's population: 105162
________________________________________________
Searching population record for chicago
chicago's population: 2695598
________________________________________________
Searching population record for las vegas
las vegas's population: 583756
________________________________________________
Searching population record for columbus
columbus's population: 787033
________________________________________________
Searching population record for denver
denver's population: 600158
________________________________________________
Searching population record for jersey city
jersey city's population: 247597
________________________________________________
Searching population record for los angeles
los angeles's population: 3792621
________________________________________________
Searching population record for nashville
nashville's population: 601222
________________________________________________
Searching population record for new orleans
new orleans's population: 343829
________________________________________________
Searching population record for new york
new york's population: 8175133
________________________________________________
Searching population record for oakland
oakland's population: 390724
________________________________________________
Searching population record for pacific grove
pacific grove's population: 15041
________________________________________________
Searching population record for portland
portland's population: 583776
________________________________________________
Searching population record for salem
salem's population: 154637
________________________________________________
Searching population record for san jose
san jose's population: 945942
________________________________________________
Searching population record for san diego
san diego's population: 1307402
________________________________________________
Searching population record for san francisco
san francisco's population: 805235
________________________________________________
Searching population record for san mateo
san mateo's population: 97207
________________________________________________
Searching population record for santa cruz
santa cruz's population: 59946
________________________________________________
Searching population record for seattle
seattle's population: 608660
________________________________________________
Searching population record for washington
washington's population: 601723
________________________________________________

In [184]:
loop_df

               city             City State Population
0         asheville        Asheville    NC      83393
1            austin           Austin    TX     790390
2            boston           Boston    MA     617594
3   fort lauderdale  Fort Lauderdale    FL     165521
4         cambridge        Cambridge    MA     105162
5           chicago          Chicago    IL    2695598
6         las vegas        Las Vegas    NV     583756
7          columbus         Columbus    OH     787033
8            denver           Denver    CO     600158
9       jersey city      Jersey City    NJ     247597
10      los angeles      Los Angeles    CA    3792621
11        nashville        Nashville    TN     601222
12      new orleans      New Orleans    LA     343829
13         new york         New York    NY    8175133
14          oakland          Oakland    CA     390724
15    pacific grove    Pacific Grove    CA      15041
16         portland         Portland    OR     583776
17            salem            Salem    OR     154637
18         san jose         San Jose    CA     945942
19        san diego        San Diego    CA    1307402
20    san francisco    San Francisco    CA     805235
21        san mateo        San Mateo    CA      97207
22       santa cruz       Santa Cruz    CA      59946
23          seattle          Seattle    WA     608660
24       washington       Washington    DC     601723

In [190]:
graphs_draft_df = abnb_df.groupby('City').mean().reset_index()
graphs_draft_df['Population'] = loop_df['Population']
graphs_draft_df['State'] = loop_df['State']
graphs_df = graphs_draft_df[['City', 'State', 'Population', 'Latitude', 'Longitude', 'Price', 'Minimum Nights', 'Number of Reviews', 'Reviews per Month', 'Availability (days per year)']]
graphs_df

,City,State,Population,Latitude,Longitude,Price,Minimum Nights,Number of Reviews,Reviews per Month,Availability (days per year)
0,Asheville,NC,83393,35.578463,-82.557080,217.851462,5.445029,76.460819,2.915155,169.638596
1,Austin,TX,790390,30.282802,-97.755954,311.782487,9.479961,33.144644,1.439457,142.824630
2,Boston,MA,617594,42.343169,-71.080080,209.841602,34.919891,37.570778,1.625987,184.854802
3,Cambridge,FL,165521,42.371986,-71.107202,222.803670,39.790826,49.317431,1.513995,136.440367
4,Chicago,MA,105162,41.902314,-87.662216,179.361744,9.127082,42.281770,1.843966,177.314855
5,Columbus,IL,2695598,39.984240,-82.996481,395.042333,8.599247,47.689558,2.868683,160.244591
6,Denver,NV,583756,39.741899,-104.981299,174.750077,12.829403,48.564165,2.132750,129.939663
7,Fort Lauderdale,OH,787033,26.098144,-80.138814,264.226556,7.100666,21.238818,1.339888,202.122153
8,Jersey City,CO,600158,40.726335,-74.052016,167.781026,10.259547,29.986277,1.543465,186.286993
9,Las Vegas,NJ,247597,36.116909,-115.145809,243.013242,7.317966,32.129312,1.863386,184.842406
10,Los Angeles,CA,3792621,34.042671,-118.337056,281.473336,19.850302,36.910889,1.591118,178.280363
11,Nashville,TN,601222,36.161734,-86.772334,230.346161,4.708709,54.197938,2.261393,190.496041
12,New Orleans,LA,343829,29.957654,-90.074731,184.136041,8.283737,51.248042,1.805041,178.057913
13,New York,NY,8175133,40.728863,-73.958841,198.507506,10.492615,22.661877,0.875777,124.242193
14,Oakland,CA,390724,37.813910,-122.240208,161.075213,7.687323,37.028855,1.384584,108.851939
15,Pacific Grove,CA,15041,36.621462,-121.921354,256.744828,17.862069,76.593103,2.186271,176.041379
16,Portland,OR,583776,45.528396,-122.653810,152.780577,9.149317,82.048558,2.659966,154.163885
17,Salem,OR,154637,44.928396,-123.037285,284.625000,4.019231,46.682692,2.180706,149.865385
18,San Diego,CA,945942,32.766330,-117.190983,381.389202,6.052923,40.767330,1.768815,152.632414
19,San Francisco,CA,1307402,37.768774,-122.429203,318.417380,20.415624,39.447882,1.217099,168.416283
20,San Jose,CA,805235,37.355865,-121.980429,218.031174,11.955272,30.735430,1.448896,175.172947
21,San Mateo,CA,97207,37.557271,-122.333286,232.036293,8.337242,48.820771,2.021518,170.413177
22,Santa Cruz,CA,59946,36.985513,-121.975032,292.747791,4.204819,62.538153,1.855995,161.805622
23,Seattle,WA,608660,47.625613,-122.335061,174.775889,14.534389,55.905526,1.910080,128.460974
24,Washington,DC,601723,38.910656,-77.018642,202.807819,9.809655,40.560573,1.639492,137.540932